<html>
    <head>
        <title>{% block title %}{% endblock %} - TAC</title>

        {% block head %}
        {% endblock %}
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"></link>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <style>
            .bullish {background:green; color:white;}
            .bearish {background: red; color:white;}
        </style>


    </head>
    <body>
        <div class = "ui container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>