{% extends "layout.html" %}

{% block content %}

<h1>Examples</h1>

<div>
    <ul>
        <li>
            <a href="/demovideo">Demo Video</a>
        </li>
        <li>
            <a href="/tradingview_widget">TradingView Real-Time Chart Widget</a>
        </li>
        <li>
            <a href="/sqlalchemy">SQLAlchemy ORM</a>
        </li>
        <li>
            <a href="/timescaledb">TimeScale DB time-series queries</a>
        </li>
        <li>
            <a href="/alpaca">Alpaca Stock Order</a>
        </li>
        <li>
            <a href="/tradier">Tradier Option Order</a>
        </li>
        <li>
            <a href="/binance">Binance Dogecoin Order</a>
        </li>
        <li>
            <a href="/backtrader">Backtrader Backtest</a>
        </li>
    </ul>
</div>


{% endblock %}

